@model IEnumerable<TodoMVC.Models.TodoItem>

@{

    var hoje = DateTime.Now.ToString("dd/MM/yyyy 00:00:00");

}

<h1>Criar Tarefa</h1>

<div class="container">
    <div class="row">
        @Html.ActionLink("Criar Nova", "Create", null, new { @class = "btn btn-primary btn-sm" })
    </div>
    <br />
    <div class="row">
        <table class="table table-condensed">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Texto)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th class="text-center">Opções</th>
            </tr>

            @if (ViewBag.listTodo != null)
            {
                foreach (var item in ViewBag.listTodo)
                {
                    <tr>
                        <td>
                            @item.Texto
                        </td>
                        <td class="text-center">
                            @if (item.Ativo)
                            {
                                <span class="label label-success"> Ativo</span>

                            }
                            else
                            {
                                <span class="label label-default">
                                    Desativo
                                </span>
                            }
                        </td>
                        <td class="text-center">
                            @if (item.Data == Convert.ToDateTime(hoje))
                            {
                                <span class="label label-success">
                                    HOJE - @item.Data.ToString("dd/MM/yyyy")
                                </span>

                            }
                            else if (item.Data < Convert.ToDateTime(hoje))
                            {
                                <span class="label label-warning">
                                    @item.Data.ToString("dd/MM/yyyy")
                                </span>
                            }
                            else
                            {
                                <span class="label label-primary">
                                    @item.Data.ToString("dd/MM/yyyy")
                                </span>
                            }

                        </td>
                        <td class="text-center">
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })

                            </div>

                        </td>
                    </tr>

                }

            }


        </table>
    </div>
</div>

@section scripts{
    <script src="~/App/component/home/ButtonComponent.js"></script>

}